# Pip-installed packages validated in the sam2_app environment.
huggingface_hub==1.9.1
numpy==2.2.6
pillow==12.2.0
SAM-2 @ git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
